@use "mixins";

/* Jobs section */
#jobs-section {
    padding: 100px 0px;
    border-bottom: 2px solid #000746;

    .container-jobs {
        @include mixins.md(768px) {
            width: 95%;
        }

        @include mixins.container;
        flex-direction: column;

        .link-github {
            @include mixins.md(375px) {
                font-size: 0.9rem;
                padding: 7px
            }

            @include mixins.config-buttons;
            margin-top: 20px;

            &:hover {
                transform: translateY(-3px);
            }
        }

        h2 {
            @include mixins.md(768px) {
                font-size: 1.4rem;
            }

            @include mixins.md(425px) {
                font-size: 1.3rem;
            }

            @include mixins.md(375px) {
                font-size: 1.2rem;
            }

            @include mixins.md(320px) {
                font-size: 1.1rem;
            }

            font-size: 1.5rem;
            font-weight: bold;

            &::after {
                @include mixins.line-botton;
            }
        }

        .container-slides {
            @include mixins.md(768px) {
                @include mixins.flex-center-not-width;
            }

            width: 100%;
            margin-top: 30px;

            .glide {
                @include mixins.md(768px) {
                    width: 65%;
                }

                @include mixins.md(425px) {
                    width: 95%;
                }

                .glide__track {
                    .glide__slides {
                        .glide__slide {
                            @include mixins.md(425px) {
                                height: 400px;
                            }

                            @include mixins.md(375px) {
                                height: 360px;
                            }

                            @include mixins.md(320px) {
                                height: 320px;
                            }

                            @include mixins.background-config;
                            position: relative;
                            height: 460px;
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            justify-content: center;
                            gap: 0.3rem;
                            padding: 5px;
                            transition: .3s ease-in-out;

                            &::before {
                                @include mixins.efeito-escuro;
                            }

                            h3 {
                                @include mixins.md(768px) {
                                    font-size: 1.1rem;
                                }

                                @include mixins.md(375px) {
                                    font-size: 1rem;
                                }

                                @include mixins.md(320px) {
                                    font-size: 0.9rem;
                                }

                                width: 100%;
                                position: relative;
                                color: white;
                                font-size: 1.2rem;
                                text-align: center;
                            }

                            img {
                                position: relative;
                                width: 478px;
                            }

                            .description {
                                @include mixins.md(768px) {
                                    font-size: 1.1rem;
                                }

                                @include mixins.md(425px) {
                                    font-size: 1rem;
                                }

                                @include mixins.md(375px) {
                                    font-size: 0.9rem;
                                }

                                width: 100%;
                                position: relative;
                                color: white;
                                font-size: 1.2rem;
                                margin-bottom: 5px;
                            }

                            .container-tecnologies {
                                position: relative;
                                @include mixins.flex-center;
                                flex-wrap: wrap;
                                gap: 1rem;
                                margin-bottom: 5px;

                                span {
                                    @include mixins.md(425px) {
                                        font-size: 1rem;
                                    }

                                    @include mixins.md(375px) {
                                        font-size: 0.9rem;
                                    }

                                    color: white;
                                    font-size: 1.1rem;

                                    i {
                                        @include mixins.md(425px) {
                                            font-size: 1.5rem;
                                        }

                                        @include mixins.md(375px) {
                                            font-size: 1.4rem;
                                        }

                                        @include mixins.md(320px) {
                                            font-size: 1.3rem;
                                        }

                                        font-size: 1.7rem;
                                    }
                                }
                            }

                            a {
                                @include mixins.md(375px) {
                                    padding: 6px;
                                }

                                @include mixins.md(320px) {
                                    padding: 5px;
                                    font-size: 0.9rem;
                                }

                                position: relative;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 0.5rem;
                                @include mixins.config-buttons;

                                &:hover {
                                    transform: translateY(-3px);
                                }
                            }
                        }
                    }
                }

                .glide__arrow {
                    @include mixins.md(425px) {
                        top: 90%;
                        color: white;
                    }

                    color: #000;
                    padding: 10px 15px;
                    border: 2px solid rgba(58, 58, 58, 0.5);
                    border-radius: 2px;
                    box-shadow: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 20%);
                    font-size: 1.3rem;
                }

                .glide__arrow--left {
                    @include mixins.md(425px) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        left: 2rem;
                        width: 5%;
                        height: 8%;
                    }

                    left: -4rem;
                }

                .glide__arrow--right {
                    @include mixins.md(425px) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        right: 2rem;
                        width: 5%;
                        height: 8%;
                    }

                    right: -4rem;
                }
            }
        }
    }
}