@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* Resete geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'DM Sans', sans-serif;
}

img {
    max-width: 100%;
}

html {
    -webkit-tap-highlight-color: transparent;
    /* scroll-behavior: smooth; */
}

/* Barra de rolagem */
body::-webkit-scrollbar {
    width: 9px;
    background-color: #000746;
}

body::-webkit-scrollbar-thumb {
    /* background: linear-gradient(0, #001aff, #000000); */
    /* background-color: #000c7c; */
    background: linear-gradient(#000746, #cecece);
    border-radius: 20px;
}

/* Header */
#navbar {
    width: 100%;
    position: fixed;
    padding: 15px;
    z-index: 1000;
    transition: .3s;
    background-color: transparent;
}

#navbar .container-header {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar .container-header #logo {
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    animation: animation-header 2s ease;
}

@keyframes animation-header {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#navbar .container-header #logo::before,
#menu li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.15s ease-in-out;
    background-color: white;
}

#navbar .container-header #logo:hover::before,
#menu li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

/* Menu dektop */
#menu {
    display: flex;
    list-style: none;
    gap: 1rem;
}

#menu li a {
    position: relative;
    display: block;
    padding: 5px 0px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
}

@keyframes animation-menu-desktop {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#menu li .animation-um {
    animation: animation-menu-desktop 2s ease;
}

#menu li .animation-dois {
    animation: animation-menu-desktop 1.5s ease;
}

#menu li .animation-tres {
    animation: animation-menu-desktop 1s ease;
}

#menu li .animation-quatro {
    animation: animation-menu-desktop 0.5s ease;
}

/* Menu mobile*/
#btn-mobile {
    display: none;
}

/* Banner principal */
.container-principal {
    /* background-image: url(/assets/img/Imagem\ de\ Background.jpg); */
    /* background-position: center; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    background: linear-gradient(0, #001aff, #000000);
}

.container-principal::before {
    content: '';
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.container-principal .container-banner {
    width: 100%;
    max-width: 980px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-principal .container-banner #banner-info {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: baseline;
    padding: 20px;
}

.container-principal .container-banner #banner-info h1 {
    font-size: 2.5rem;
    color: white;
    overflow: hidden;
    margin: 0 auto;
    display: inline-block;
    animation: down 3s ease;
}

@keyframes down {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container-principal .container-banner #banner-info h1::after {
    content: '';
    display: inline-block;
    background-color: white;
    margin-left: 2px;
    height: 25px;
    width: 4px;
    animation: cursor 0.4s infinite;
}

@keyframes cursor {
    0% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.container-principal .container-banner #banner-info span {
    font-size: 1.2rem;
    color: white;
    animation: down 2s ease;
}

.container-principal .container-banner #banner-info .download {
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    padding: 8px;
    transition: all 0.15s ease;
    text-decoration: none;
    color: white;
    -webkit-box-reflect: below 7px linear-gradient(transparent, #0002);
    animation: up 2s ease;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(200px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container-principal .container-banner #banner-info .download:hover {
    transform: translateY(-3px);
    background: linear-gradient(#000746, #8d8d8d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-principal .container-banner #banner-info .download i {
    font-size: 1.1rem;
}

.container-principal .container-banner #banner-info .download span {
    font-size: 1.1rem;
}

.container-principal .container-banner .social-medias {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 20px;
}

@keyframes animation {
    from {
        opacity: 0;
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.container-principal .container-banner .social-medias .animation-one {
    animation: animation 2s ease;
    opacity: 1;
}

.container-principal .container-banner .social-medias .animation-tho {
    animation: animation 2.8s ease;
    opacity: 1;
}

.container-principal .container-banner .social-medias .animation-tree {
    animation: animation 3.2s ease;
    opacity: 1;
}

.container-principal .container-banner .social-medias a i {
    font-size: 1.8rem;
    padding: 10px;
    background: linear-gradient(#000746, #8d8d8d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.15s ease-in;
}

.container-principal .container-banner .social-medias a i:hover {
    transform: translateX(-10px);
}

/* About section */
#about-section {
    padding: 100px 0px;
    border-bottom: 2px solid #000746;
}

#about-section .container-about {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#about-section .container-about h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

#about-section .container-about h2::before {
    content: '</';
    font-size: 1.5rem;
    position: absolute;
    right: 158px;
    top: -1px;
    animation: pulse 2s infinite linear;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

#about-section .container-about h2::after {
    content: '>';
    position: absolute;
    font-size: 1.5rem;
    /* top: -1px; */
    left: 160px;
    animation: pulse 2s infinite linear;
}

#about-section .container-about .conteudo {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
    border-radius: 2px;
    background: linear-gradient(0, #001aff, #000000);
    border: 2px solid #000957;
    transition: .3s;
}

#about-section .container-about .conteudo::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

#about-section .container-about .conteudo img {
    width: 65%;
    position: relative;
    border-radius: 50px;
}

#about-section .container-about .conteudo .textos {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
}

#about-section .container-about .conteudo .textos .p p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

#about-section .container-about .conteudo .textos .links-social-cvv {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 10px;
}

#about-section .container-about .conteudo .textos .links-social-cvv a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 7px 16px;
    border-radius: 5px;
    background: linear-gradient(0, #000746, #000000);
    border: 2px solid #000957;
    transition: all 0.15s ease-in;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1rem;
}

#about-section .container-about .conteudo .textos .links-social-cvv a:hover {
    transform: translateY(-3px);
}

#about-section .container-about .conteudo .textos .links-social-cvv a .svg2 {
    font-size: 1.1rem;
}

/* Jobs section */
#jobs-section {
    padding: 100px 0px;
    border-bottom: 2px solid #000746;
}

#jobs-section .container-jobs {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jobs-section .container-jobs .link-github {
    margin-top: 20px;
    padding: 9px;
    border-radius: 2px;
    background: linear-gradient(0, #000746, #000000);
    border: 2px solid #000957;
    transition: all 0.15s ease-in;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

#jobs-section .container-jobs .link-github:hover {
    transform: translateY(-3px);
}

#jobs-section .container-jobs h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

#jobs-section .container-jobs h2::after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    margin: 0 auto;
    background-color: black;
}

#jobs-section .container-jobs .container-slides {
    width: 100%;
    margin-top: 30px;
}

#jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide {
    position: relative;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    padding: 5px;
    border-radius: 2px;
    background: linear-gradient(0, #001aff, #000000);
    border: 2px solid #000957;
    transition: .3s ease-in-out;
}

#jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

#jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide h3 {
    width: 100%;
    position: relative;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

#jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide img {
    position: relative;
    width: 478px;
}

#jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide .description {
    width: 100%;
    position: relative;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

#jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide .container-tecnologies {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 5px;
}

#jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide .container-tecnologies span {
    color: white;
    font-size: 1.1rem;
}

#jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide .container-tecnologies span i {
    font-size: 1.7rem;
}

#jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 9px;
    border-radius: 2px;
    background: linear-gradient(0, #000746, #000000);
    border: 2px solid #000957;
    transition: all 0.15s ease-in;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

#jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide a:hover {
    transform: translateY(-3px);
}

.glide__arrow {
    color: #000;
    padding: 10px 15px;
    border: 2px solid rgba(58, 58, 58, 0.5);
    border-radius: 2px;
    box-shadow: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 20%);
    font-size: 1.3rem;
}

.glide__arrow--left {
    left: -4rem;
}

.glide__arrow--right {
    right: -4rem;
}

/* skills section */
#skills-section {
    padding: 100px 0px;
    border-bottom: 2px solid #000746;
}

#skills-section .container-skills {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#skills-section .container-skills h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

#skills-section .container-skills h2::after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    margin: 0 auto;
    background-color: black;
}

#skills-section .container-skills .container-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 30px;
}

#skills-section .container-skills .container-cards .card {
    width: 20%;
    height: 170px;
    perspective: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0, #001aff, #000000);
    border: 2px solid #000957;
    transition: all .3s ease-in-out;
    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
}

#skills-section .container-skills .container-cards .card::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

#skills-section .container-skills .container-cards .card .flipper {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#skills-section .container-skills .container-cards .card:hover .flipper {
    transform: rotateY(180deg);
}

#skills-section .container-skills .container-cards .card .flipper .front {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#skills-section .container-skills .container-cards .card .flipper .back .span2 {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    font-size: 1rem;
}

#skills-section .container-skills .container-cards .card .flipper .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

#skills-section .container-skills .container-cards .card .flipper .back {
    transform: rotateY(180deg);
}

#skills-section .container-skills .container-cards .card .flipper i {
    position: relative;
    font-size: 2.5rem;
    margin-bottom: 5px;
    color: white;
}

#skills-section .container-skills .container-cards .card .flipper span {
    position: relative;
    font-size: 1.1rem;
    color: white;
}

/* Contact Section */
#contact-section {
    padding: 100px 0px;
    border-bottom: 2px solid #000746;
}

#contact-section .container-contact {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact-section .container-contact h2 {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

#contact-section .container-contact h2::after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    margin: 0 auto;
    background-color: black;
}

#contact-section .container-contact .container-form {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 2px;
    background: linear-gradient(0, #001aff, #000000);
    border: 2px solid #000957;
    transition: .3s ease-in-out;
}

#contact-section .container-contact .container-form::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

#contact-section .container-contact .container-form .container-contact-2 {
    width: 40%;
    padding: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    color: white;
}

#contact-section .container-contact .container-form .container-contact-2 .contact-forms {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#contact-section .container-contact .container-form .container-contact-2 .contact-forms i {
    font-size: 1.1rem;
}

#contact-section .container-contact .container-form .container-contact-2 .contact-forms span {
    font-size: 1rem;
}

#contact-section .container-contact .container-form form {
    position: relative;
    width: 60%;
    display: grid;
    grid-template-areas: 'input1 input2'
        'input3 input3'
        'input4 input4'
        '. btn-enviar';
}

#contact-section .container-contact .container-form form .grid1 {
    grid-area: input1;
    width: 90%;
}

#contact-section .container-contact .container-form form .grid2 {
    grid-area: input2;
    width: 90%;
}

#contact-section .container-contact .container-form form .grid3 {
    grid-area: input3;
}

#contact-section .container-contact .container-form form .grid4 {
    grid-area: input4;
}

#contact-section .container-contact .container-form form .btn-enviar {
    grid-area: btn-enviar;
    width: 30%;
    border-radius: 2px;
    border: 2px solid #ffffff;
    padding: 8px;
    color: white;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.15s ease;
    font-size: 1.1rem;
    justify-self: flex-end;
    margin-right: 57px;
}

#contact-section .container-contact .container-form form .btn-enviar:hover {
    transform: translateY(-3px);
    background: linear-gradient(#000746, #8d8d8d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#contact-section .container-contact .container-form form .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact-section .container-contact .container-form form .input label {
    font-size: 1rem;
    color: white;
    margin-bottom: 5px;
}

#contact-section .container-contact .container-form form .input input {
    width: 90%;
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 8px 8px;
    outline: none;
    border: none;
    transition: all 0.15s ease-in-out;
    font-size: 0.9rem;
}

#contact-section .container-contact .container-form form .input textarea {
    width: 90%;
    height: 130px;
    padding: 8px 8px;
    border-radius: 2px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    resize: none;
    transition: all 0.3s ease-in-out;
    font-size: 0.9rem;
}

/* Contact Section Copyrigth */
#contact-section-copyrigth {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#contact-section-copyrigth span {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Responsividade - 768px */
@media screen and (max-width: 768px) {

    /* header */
    #navbar .container-header {
        width: 95%;
    }

    /* Menu Mobile */
    #menu {
        position: absolute;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        top: 62px;
        height: 100vh;
        left: -390px;
        z-index: 10000;
        overflow-y: hidden;
        visibility: hidden;
        transition: .6s;
        background: linear-gradient(0, #001aff, #000000);
    }

    #navbar-list.active #menu {
        left: 0;
        visibility: visible;
    }

    #menu li a {
        margin-bottom: 20px;
        font-size: 1.4rem;
        padding: 5px 0px;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        border: none;
        background: none;
        cursor: pointer;
        color: white;
    }

    #hamburger {
        display: block;
        width: 20px;
        border-top: 2px solid;
        color: white;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #navbar-list.active #hamburger {
        border-top-color: transparent;
    }

    #navbar-list.active #hamburger::before {
        transform: rotate(135deg);
    }

    #navbar-list.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    @keyframes animation-menu-desktop {
        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Banner principal */
    .container-principal .container-banner {
        width: 95%;
    }

    .container-principal .container-banner #banner-info h1 {
        font-size: 2rem;
    }

    .container-principal .container-banner #banner-info span {
        font-size: 1.1rem;
    }

    .container-principal .container-banner #banner-info .btn-github {
        padding: 7px 15px;
        font-size: 1rem;
    }

    @keyframes animation {
        from {
            opacity: 0;
            transform: translateX(-200px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    /* Section About */
    #about-section .container-about {
        width: 95%;
    }

    #about-section .container-about h2 {
        font-size: 1.4rem;
    }

    #about-section .container-about h2::before {
        font-size: 1.4rem;
        right: 145px;
        top: 1px;
    }

    #about-section .container-about h2::after {
        font-size: 1.4rem;
        top: 1px;
        left: 145px;
    }

    #about-section .container-about .conteudo {
        flex-direction: column;
        padding: 20px 30px;
        gap: 1rem;
    }

    #about-section .container-about .conteudo img {
        width: 150px;
    }

    #about-section .container-about .conteudo .textos {
        text-align: center;
        max-width: 600px;
    }

    #about-section .container-about .conteudo .textos .p p {
        font-size: 1rem;
    }

    #about-section .container-about .conteudo .textos .links-social-cvv {
        justify-content: center;
    }

    #about-section .container-about .conteudo .textos .links-social-cvv a {
        padding: 5px 10px;
    }

    /* Jobs section */
    #jobs-section .container-jobs {
        width: 95%;
    }

    #jobs-section .container-jobs h2 {
        font-size: 1.4rem;
    }

    #jobs-section .container-jobs .container-slides {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #jobs-section .container-jobs .glide {
        width: 65%;
    }

    #jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide h3 {
        font-size: 1.1rem;
    }

    #jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide .description {
        font-size: 1.1rem;
    }

    /* skills section */
    #skills-section .container-skills {
        width: 95%;
    }

    #skills-section .container-skills h2 {
        font-size: 1.4rem;
    }

    #skills-section .container-skills .container-cards .card {
        width: 48.8%;
    }

    #skills-section .container-skills .container-cards .card i {
        font-size: 2rem;
    }

    #skills-section .container-skills .container-cards .card span {
        font-size: 1rem;
    }

    /* Contact Section */
    #contact-section .container-contact {
        width: 95%;
    }

    #contact-section .container-contact h2 {
        font-size: 1.4rem;
    }

    #contact-section .container-contact .container-form {
        flex-direction: column;
    }

    #contact-section .container-contact .container-form .container-contact-2 {
        width: 100%;
        align-items: center;
        padding: 10px;
        margin-bottom: 20px;
    }

    #contact-section .container-contact .container-form .container-contact-2 .contact-forms i {
        font-size: 1.1rem;
    }

    #contact-section .container-contact .container-form .container-contact-2 .contact-forms span {
        font-size: 1rem;
    }

    #contact-section .container-contact .container-form form {
        width: 100%;
    }

    #contact-section .container-contact .container-form form .btn-enviar {
        grid-column: 1;
        justify-self: auto;
    }

    /* Contact Section Copyrigth */
    #contact-section-copyrigth {
        width: 95%;
    }

    #contact-section-copyrigth .span-big {
        font-size: 1.4rem;
    }

    #contact-section-copyrigth p {
        font-size: 0.9rem;
    }
}

/* Responsividade - 425px */
@media screen and (max-width: 425px) {
    #navbar .container-header #logo {
        font-size: 1.3rem;
    }

    #menu li a {
        font-size: 1.2rem;
    }

    /* Banner principal */
    .container-principal .container-banner {
        flex-direction: column;
        justify-content: center;
    }

    .container-principal .container-banner #banner-info {
        align-items: center;
    }

    .container-principal .container-banner #banner-info h1 {
        font-size: 1.6rem;
    }

    .container-principal .container-banner #banner-info span {
        font-size: 1rem;
        text-align: center;
    }

    .container-principal .container-banner #banner-info .download {
        padding: 7px;
        margin-bottom: 40px;
    }

    .container-principal .container-banner #banner-info .download i {
        font-size: 1rem;
    }

    .container-principal .container-banner #banner-info .download span {
        font-size: 1rem;
    }

    .container-principal .container-banner .social-medias {
        flex-direction: row;
        padding: 0;
    }

    @keyframes animation {
        from {
            opacity: 0;
            transform: translateY(-200px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .container-principal .container-banner .social-medias a i {
        font-size: 1.5rem;
    }

    .container-principal .container-banner .social-medias a i:hover {
        transform: translateY(-10px);
    }

    /* Section About */
    #about-section .container-about h2 {
        font-size: 1.3rem;
    }

    #about-section .container-about h2::before {
        font-size: 1.3rem;
        right: 135px;
        top: 1px;
    }

    #about-section .container-about h2::after {
        font-size: 1.3rem;
        left: 135px;
        top: 1px;
    }

    #about-section .container-about .conteudo {
        width: 95%;
        padding: 30px 10px;
    }

    #about-section .container-about .conteudo img {
        width: 140px;
    }

    #about-section .container-about .conteudo .textos {
        max-width: 500px;
    }

    /* Jobs section */
    #jobs-section .container-jobs h2 {
        font-size: 1.3rem;
    }

    #jobs-section .container-jobs .glide {
        width: 95%;
    }

    #jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide {
        height: 400px;
    }

    #jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide h3 {
        font-size: 1.1rem;
    }

    #jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide .description {
        font-size: 1rem;
    }

    #jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide .container-tecnologies span {
        font-size: 1rem;
    }

    #jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide .container-tecnologies span i {
        font-size: 1.5rem;
    }

    .glide__arrow {
        top: 90%;
        color: #fff;
    }

    .glide__arrow--left {
        display: flex;
        justify-content: center;
        align-items: center;
        left: 2rem;
        width: 5%;
        height: 8%;
    }

    .glide__arrow--right {
        display: flex;
        justify-content: center;
        align-items: center;
        right: 2rem;
        width: 5%;
        height: 8%;
    }

    /* skills section */
    #skills-section .container-skills h2 {
        font-size: 1.3rem;
    }

    #skills-section .container-skills .container-cards .card {
        width: 45%;
    }

    #skills-section .container-skills .container-cards .card span {
        font-size: 1rem;
    }

    /* Contact Section */
    #contact-section .container-contact h2 {
        font-size: 1.3rem;
    }

    #contact-section .container-contact .container-form form {
        grid-template-areas:
            'input1'
            'input2'
            'input3'
            'input4'
            'btn-enviar';
    }

    #contact-section .container-contact .container-form form .input {
        width: 100%;
    }

    #contact-section .container-contact .container-form form .input label {
        font-size: 1rem;
    }

    #contact-section .container-contact .container-form form .input input {
        padding: 7px 7px;
    }

    #contact-section .container-contact .container-form form .btn-enviar {
        padding: 7px;
    }

    /* Contact Section Copyrigth */
    #contact-section-copyrigth {
        width: 100%;
        text-align: center;
    }

    #contact-section-copyrigth a {
        font-size: 0.9rem;
    }
}

/* Responsividade 375px */
@media screen and (max-width: 375px) {
    #navbar .container-header #logo {
        font-size: 1.2rem;
    }

    #menu li a {
        font-size: 1.1rem;
    }

    /* Banner principal */
    .container-principal .container-banner #banner-info h1 {
        font-size: 1.5rem;
    }

    .container-principal .container-banner #banner-info .download {
        padding: 6px;
    }

    .container-principal .container-banner #banner-info .download i {
        font-size: 1rem;
    }

    .container-principal .container-banner #banner-info .download span {
        font-size: 1rem;
    }

    .container-principal .container-banner .social-medias a i {
        font-size: 1.3rem;
    }

    /* Section About */
    #about-section .container-about h2 {
        font-size: 1.2rem;
    }

    #about-section .container-about h2::before {
        font-size: 1.2rem;
        right: 130px;
        top: 1px;
    }

    #about-section .container-about h2::after {
        font-size: 1.2rem;
        left: 130px;
        top: 1px;
    }

    #about-section .container-about .conteudo {
        padding: 40px 10px;
    }

    #about-section .container-about .conteudo img {
        width: 130px;
    }

    #about-section .container-about .conteudo .textos .p p {
        font-size: 0.9rem;
    }

    #about-section .container-about .conteudo .textos .links-social-cvv a {
        padding: 4px 9px;
    }

    /* Jobs section */
    #jobs-section .container-jobs h2 {
        font-size: 1.2rem;
    }

    #jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide {
        height: 360px;
    }

    #jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide h3 {
        font-size: 1rem;
    }

    #jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide .description {
        font-size: 0.9rem;
    }

    #jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide .container-tecnologies span {
        font-size: 0.9rem;
    }

    #jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide .container-tecnologies span i {
        font-size: 1.4rem;
    }

    #jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide a {
        /* width: 45%; */
        padding: 6px;
    }

    #jobs-section .container-jobs .link-github {
        padding: 7px;
        font-size: 0.9rem;
    }

    /* skills section */
    #skills-section .container-skills h2 {
        font-size: 1.2rem;
    }

    #skills-section .container-skills .container-cards .card {
        width: 44%;
    }

    #skills-section .container-skills .container-cards .card span {
        font-size: 0.9rem;
    }

    /* Contact Section */
    #contact-section .container-contact h2 {
        font-size: 1.2rem;
    }

    #contact-section .container-contact .container-form .container-contact-2 .contact-forms i {
        font-size: 1rem;
    }

    #contact-section .container-contact .container-form form .input input {
        padding: 6px 6px;
    }

    #contact-section .container-contact .container-form form .input textarea {
        height: 120px;
    }

    #contact-section .container-contact .container-form form .btn-enviar {
        padding: 6px;
    }

    #contact-section-copyrigth span {
        font-size: 1rem;
    }
}

/* Responsividade 320px */
@media screen and (max-width: 320px) {
    #navbar .container-header #logo {
        font-size: 1.1rem;
    }

    #menu li a {
        font-size: 1rem;
    }

    /* Banner principal */
    .container-principal .container-banner #banner-info h1 {
        font-size: 1.2rem;
    }

    .container-principal .container-banner #banner-info span {
        font-size: 0.9rem;
    }

    .container-principal .container-banner #banner-info .download {
        padding: 5px;
    }

    .container-principal .container-banner #banner-info .download i {
        font-size: 0.9rem;
    }

    .container-principal .container-banner #banner-info .download span {
        font-size: 0.9rem;
    }

    .container-principal .container-banner .social-medias a i {
        font-size: 1.2rem;
    }

    /* Section About */
    #about-section .container-about h2 {
        font-size: 1.1rem;
    }

    #about-section .container-about h2::before {
        font-size: 1.1rem;
        right: 120px;
        top: 1px;
    }

    #about-section .container-about h2::after {
        font-size: 1.1rem;
        left: 120px;
        top: 1px;
    }

    #about-section .container-about .conteudo img {
        width: 120px;
    }

    #about-section .container-about .conteudo .textos {
        max-width: 250px;
    }

    #about-section .container-about .conteudo .textos .links-social-cvv a {
        padding: 4px 8px;
    }

    #about-section .container-about .conteudo .textos .links-social-cvv a span {
        font-size: 0.9rem;
    }

    /* Jobs section */
    #jobs-section .container-jobs h2 {
        font-size: 1.1rem;
    }

    #jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide {
        height: 320px;
    }

    #jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide h3 {
        font-size: 0.9rem;
    }

    #jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide .container-tecnologies span i {
        font-size: 1.3rem;
    }

    #jobs-section .container-jobs .glide .glide__track .glide__slides .glide__slide a {
        padding: 5px;
        font-size: 0.9rem;
    }

    /* skills section */
    #skills-section .container-skills h2 {
        font-size: 1.1rem;
    }

    /* Contact Section */
    #contact-section .container-contact h2 {
        font-size: 1.1rem;
    }

    #contact-section .container-contact .container-form .container-contact-2 .contact-forms i {
        font-size: 0.9rem;
    }

    #contact-section .container-contact .container-form .container-contact-2 .contact-forms span {
        font-size: 0.9rem;
    }

    #contact-section .container-contact .container-form form .input label {
        font-size: 0.9rem;
    }

    #contact-section .container-contact .container-form form .input input {
        padding: 5px 5px;
    }

    #contact-section .container-contact .container-form form .input textarea {
        height: 100px;
    }

    #contact-section .container-contact .container-form form .btn-enviar {
        padding: 5px;
        font-size: 1rem;
    }

    /* Contact Section Copyrigth */
    #contact-section-copyrigth span {
        font-size: 0.9rem;
    }

    #contact-section-copyrigth p {
        font-size: 0.8rem;
    }

    #contact-section-copyrigth a {
        font-size: 0.8rem;
    }
}